
body{
    background-color:sienna;
    color: white;
}
header { 
    background-color: sandybrown;
    color: black;
    padding: 1%;
    text-align: center;
}
#logo {
    width: 150px;
    height: 100px;
}
header > h1 {
    display: inline-block;
    margin-left: 30px;
    text-align: center;
}
div {
    display: inline-block;
    margin-left: 30px;
}
a {
    color: white;
}
p, b {
    text-align: center;
    color: black;
}
img {
    width: 300px;
}
.icon-bar {
 width: 92%; /* Full-width */
 background-color: rgb(176, 62, 10); /* Dark-grey background */
 overflow: auto; /* Overflow due to float */
}
.icon-bar a {
 float: left; /* Float links side by side */
 text-align: center; /* Center-align text */
 width: 25%; /* Equal width (5 icons with 20% width each = 100%) */
 padding: 12px 0; /* Some top and bottom padding */
 transition: all 0.3s ease; /* Add transition for hover effects */
 color: white; /* White text color */
 font-size: 36px; /* Increased font size */
}

.active {
 background-color: rgb(176, 62, 10); /* Add an active/current color */
}
a {
color: rgb(176, 62, 10);
}
a:hover {
 background-color: #000;
}
