body {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0%;
    background-color: sandybrown;
    padding: 30px;
    font-size: 20px;
}
header {
    background-color: sandybrown;
    color: black;
    padding: 10px;
    border-radius: 20px;
}
header > h1 {
    display: inline-block;
    margin-left: 30px;
    border-radius: 30px;
 }
 #logo {
    width: 120px;
 }
 button {
   background-color: peru;
   cursor: pointer;
   border-color: black;
 }
 #libros{
    width: 750px;
    margin: 50px auto;
 }
 .display {
    border-color:rgb(176, 62, 10);
   border-style: solid;
   border-top-right-radius: 30px;
   border-bottom-right-radius: 30px;
   border-top-left-radius: 30px;
   border-bottom-left-radius: 30px;
    height: 640px;
    background-color: sandybrown;
    display: inline-block;
    margin-top: 10px;
 }
 #left > .display {
    width: 295px;
    height: 300px;
    margin-left: 1px;
    margin-top: 0.3px;
    background-color: sandybrown;
 }
 #left > .display > img {
    margin-left: 60px;
    height: 90%;
 }
 #dpad {
   width: 60px;
   height: 60px;
   margin-top: 15px;
   margin-left: 20px;
   display: inline-block;
}
#dpad-top, #dpad-bottom {
   width: 20px;
   height: 20px;
   margin-left: 20px;
   background-color: rgb(176, 62, 10);
}
#dpad-horizontal {
   width: 60px;
   height: 20px;
   background-color: rgb(176, 62, 10);
}
 
/* ul {
    margin: 0;
    padding: 0;
 }
 li { 
    list-style-type: none;
 }*/
 li > p {
    margin: 0 5px;
 } 

 nav {
   width: 95%;
   max-width: 1000%;
  margin: 20px auto;
  background-color: rgb(176, 62, 10);
   padding: 100px;
}
.menu_bar {
   display: none;
}
nav, ul {
   overflow: hidden;
   list-style: none;
}
nav, ul, li {
   float: left;
}
nav, ul, li, a {
   color: black;
   padding: 6px;
   display: block;
   text-decoration: none;
}
nav, ul, li, span {
   margin-right: 10px;
}
li a:hover {
   background-color: white;
}
@media screen and (max-width:800px){
   nav {
       width: 70%;
       height: 1000%;
       left: -100%;
       margin: 0;
       position: fixed;
   }
   nav, ul, li {
       display: block;
       float: none;
       border-bottom: 1px solid black;
   }
   .menu_bar {
       display: block;
       width: 100%;
       background-color: rgb(176, 62, 10);
       
   }
   .menu_bar, .bt-menu {
       display: block;
       padding: 10px;
       background-color: rgb(176, 62, 10);
       color: black;
       text-decoration: none;
       font-weight: bold;
       font-size: 25px;
       -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
       box-sizing: border-box;
   }
}   