body {
    font-family: 'Times New Roman', Times, serif;
    margin: 0%;
}
header {
    background-color: aqua;
    color: black;
    padding: 2%;
}
header > h1 {
    display: inline-block;
    margin-left: 30px;
 }
 #logo {
    width: 200px;
 }
 nav {
    margin: 10px 10%;
 }
 nav > a {
    padding: 0 10px;
 }
 #pokedex {
    width: 750px;
    margin: 50px auto;
 }
 #left {
    width: 250px;
    height: 300px;
    float: left;
    background-color: aqua;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
    border-top-right-radius: 30px;
 }
 #right {
    width: 250px;
    height: 250px;
    margin-top: 50px;
    background-color:aqua;
    border-left-color:darkcyan;
    border-left-style: solid;
    border-left-width: 3px;
    float: left;
    border-bottom-right-radius: 30px;
    border-top-right-radius: 20px;
 }
 .display {
    border-color:darkcyan;
    border-style: solid;
    border-radius: 15px;
    border-width: 3px; 
 }
 #left > .display {
    width: 180px;
    height: 150px;
    margin-left: 35px;
    margin-top: 40px;
    background-color: darkcyan;
 }
 #left > .display > img {
    margin-left: 15px;
    height: 100%;
 }
 #dpad {
    width: 60px;
    height: 60px;
    margin-top: 15px;
    margin-left: 20px;
    display: inline-block;
 }
 #dpad-top, #dpad-bottom {
    width: 20px;
    height: 20px;
    margin-left: 20px;
    background-color: blue;
 }
 #dpad-horizontal {
    width: 60px;
    height: 20px;
    background-color: blue;
 }
 #btn-circle {
    width: 50px;
    height: 50px;
    margin-left: 95px;
    border-style: solid;
    border-color: darkblue;
    border-radius: 25px;
    background-color: blue;
    display: inline-block;
 }
 #right > .display {
    width: 180px;
    height: 120px;
    margin-left: 35px;
    margin-top: 20px;
    background-color: darkcyan;
    font-size: 12px;
 }
 #pad {
    width: 148px;
    height: 65px;
    margin-left: 60px;
    margin-top: 15px;
 }
 #pad > .btn {
    width: 25px;
    height: 25px;
    background-color: blue;
    display: inline-block;
    border-style: solid;
    border-color: darkblue;
    border-width: 2px;
    border-radius: 3px;
 }
 ul {
    margin: 0;
    padding: 0;
 }
 li { 
    list-style-type: none;
 }
 li > p {
    margin: 0 5px;
 } 